<launch>
  <arg name="perspective" default="--perspective-file $(find arm_controllers)/pointAvoidController.perspective" />

  <rosparam file="$(find elfin_control)/config/pointavoid_control.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/elfin" args="joint_state_controller pointavoid_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" ns="/elfin"/>

  <arg name="node_start_delay" default="2.0" />
  <node name = "my_rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'"
        args="$(arg perspective)" />
</launch>
