<launch>


  <include file="$(find elfin_gazebo)/launch/elfin3_visualservo_world.launch" />
  
  <!--<include file="$(find aruco_hand_eye)/launch/aruco_hand_eye_elfin.launch" />-->
  <include file="$(find elfin_control)/launch/gravityPD_control_visualservo_IB.launch" />
  <include file="$(find aruco_detect)/launch/aruco_detect.launch" />

</launch>
